{% extends '::Blog/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-9">
            {{ render(controller('BlogBlogBundle:Post:listHome', {'page': page})) }}
        </div>

        <div class="col-md-3">
            {{ render(controller('BlogBlogBundle:Post:archive', {'page': page})) }}
        </div>
    </div>
{% endblock %}
