{% extends '::Blog/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-9">

            <div class="post">

                <h1 class="post-title">Titulo post
                    <h3 class="post-info">
                        <small>Autor, 15 de Octubre</small>
                    </h3>
                </h1>

                <div class="post-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel erat lacus. Vestibulum non arcu pretium, placerat metus vel, imperdiet diam. Fusce eleifend ultricies vestibulum. Vestibulum mollis, est at sodales dignissim, justo dui imperdiet mauris, sed egestas sem leo ut eros. Suspendisse potenti. Pellentesque dignissim rutrum imperdiet. Maecenas commodo nunc id lectus ultrices, nec blandit elit laoreet. Suspendisse tortor sapien, iaculis eu nibh nec, viverra venenatis neque. Fusce sed mauris a nunc laoreet placerat. Mauris lorem ligula, dignissim non convallis eu, condimentum nec purus. Maecenas sit amet dignissim nibh, non congue dolor. Aliquam scelerisque erat in lacinia condimentum.</p>

                    <p>Cras feugiat ipsum sed bibendum condimentum. Praesent pharetra neque eget arcu mollis, nec finibus lorem viverra. Donec varius eleifend euismod. Cras iaculis, tellus id tempus tincidunt, metus felis suscipit felis, ac finibus massa tellus id lacus. Nulla quis tempus dui, ac vulputate nunc. Suspendisse nec cursus tortor, id accumsan justo. Nulla in suscipit arcu.</p>

                    <p>Donec dolor mauris, accumsan ornare ligula vel, lobortis semper lorem. Proin scelerisque vehicula ipsum, at pharetra sem mollis sit amet. Praesent purus dolor, cursus ac euismod a, molestie ac ex. Ut placerat elit tellus, sit amet ullamcorper erat eleifend et. Nam eleifend non diam sed mollis. Proin condimentum tempus tincidunt. Vestibulum eget est ac est imperdiet vehicula. Nunc efficitur auctor tempor. Etiam placerat mi ac sollicitudin aliquet.</p>

                    <p>Nam et suscipit metus. Nulla facilisi. Ut purus ante, ullamcorper eu mi dictum, rutrum vulputate dolor. Maecenas elit risus, faucibus tincidunt est sit amet, dictum tempus velit. Aliquam commodo nisi mi, vulputate sodales metus imperdiet nec. Donec lacus mauris, feugiat ac tellus vitae, lacinia posuere felis. Fusce sed nulla sit amet eros fringilla suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut ultrices urna velit.</p>

                    <p>Sed nisi justo, pellentesque eu metus vestibulum, sollicitudin congue mi. Quisque molestie ultricies orci, non pulvinar nulla dapibus et. Nulla sagittis posuere ante, pellentesque lobortis dui. Duis fringilla tortor non varius volutpat. Sed eget odio sit amet ante egestas condimentum et ac ante. Suspendisse consectetur nisi leo, ac sodales urna consequat eget. Duis laoreet eleifend dolor sed egestas. Maecenas sit amet diam eget enim vestibulum porta. Vestibulum malesuada tristique volutpat. Cras aliquam turpis a dolor dictum dapibus non sed mi. Nulla consectetur odio ac mi rutrum, ac consectetur nisi tristique. Morbi pulvinar tellus laoreet dictum malesuada.</p>
                </div>

            </div>

            <div class="post">

                <h1 class="post-title">Titulo post
                    <h3 class="post-info">
                        <small>Autor, 15 de Octubre</small>
                    </h3>
                </h1>

                <div class="post-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel erat lacus. Vestibulum non arcu pretium, placerat metus vel, imperdiet diam. Fusce eleifend ultricies vestibulum. Vestibulum mollis, est at sodales dignissim, justo dui imperdiet mauris, sed egestas sem leo ut eros. Suspendisse potenti. Pellentesque dignissim rutrum imperdiet. Maecenas commodo nunc id lectus ultrices, nec blandit elit laoreet. Suspendisse tortor sapien, iaculis eu nibh nec, viverra venenatis neque. Fusce sed mauris a nunc laoreet placerat. Mauris lorem ligula, dignissim non convallis eu, condimentum nec purus. Maecenas sit amet dignissim nibh, non congue dolor. Aliquam scelerisque erat in lacinia condimentum.</p>

                    <p>Cras feugiat ipsum sed bibendum condimentum. Praesent pharetra neque eget arcu mollis, nec finibus lorem viverra. Donec varius eleifend euismod. Cras iaculis, tellus id tempus tincidunt, metus felis suscipit felis, ac finibus massa tellus id lacus. Nulla quis tempus dui, ac vulputate nunc. Suspendisse nec cursus tortor, id accumsan justo. Nulla in suscipit arcu.</p>

                    <p>Donec dolor mauris, accumsan ornare ligula vel, lobortis semper lorem. Proin scelerisque vehicula ipsum, at pharetra sem mollis sit amet. Praesent purus dolor, cursus ac euismod a, molestie ac ex. Ut placerat elit tellus, sit amet ullamcorper erat eleifend et. Nam eleifend non diam sed mollis. Proin condimentum tempus tincidunt. Vestibulum eget est ac est imperdiet vehicula. Nunc efficitur auctor tempor. Etiam placerat mi ac sollicitudin aliquet.</p>

                    <p>Nam et suscipit metus. Nulla facilisi. Ut purus ante, ullamcorper eu mi dictum, rutrum vulputate dolor. Maecenas elit risus, faucibus tincidunt est sit amet, dictum tempus velit. Aliquam commodo nisi mi, vulputate sodales metus imperdiet nec. Donec lacus mauris, feugiat ac tellus vitae, lacinia posuere felis. Fusce sed nulla sit amet eros fringilla suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut ultrices urna velit.</p>

                    <p>Sed nisi justo, pellentesque eu metus vestibulum, sollicitudin congue mi. Quisque molestie ultricies orci, non pulvinar nulla dapibus et. Nulla sagittis posuere ante, pellentesque lobortis dui. Duis fringilla tortor non varius volutpat. Sed eget odio sit amet ante egestas condimentum et ac ante. Suspendisse consectetur nisi leo, ac sodales urna consequat eget. Duis laoreet eleifend dolor sed egestas. Maecenas sit amet diam eget enim vestibulum porta. Vestibulum malesuada tristique volutpat. Cras aliquam turpis a dolor dictum dapibus non sed mi. Nulla consectetur odio ac mi rutrum, ac consectetur nisi tristique. Morbi pulvinar tellus laoreet dictum malesuada.</p>
                </div>

            </div>

            <div class="post">

                <h1 class="post-title">Titulo post
                    <h3 class="post-info">
                        <small>Autor, 15 de Octubre</small>
                    </h3>
                </h1>

                <div class="post-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel erat lacus. Vestibulum non arcu pretium, placerat metus vel, imperdiet diam. Fusce eleifend ultricies vestibulum. Vestibulum mollis, est at sodales dignissim, justo dui imperdiet mauris, sed egestas sem leo ut eros. Suspendisse potenti. Pellentesque dignissim rutrum imperdiet. Maecenas commodo nunc id lectus ultrices, nec blandit elit laoreet. Suspendisse tortor sapien, iaculis eu nibh nec, viverra venenatis neque. Fusce sed mauris a nunc laoreet placerat. Mauris lorem ligula, dignissim non convallis eu, condimentum nec purus. Maecenas sit amet dignissim nibh, non congue dolor. Aliquam scelerisque erat in lacinia condimentum.</p>

                    <p>Cras feugiat ipsum sed bibendum condimentum. Praesent pharetra neque eget arcu mollis, nec finibus lorem viverra. Donec varius eleifend euismod. Cras iaculis, tellus id tempus tincidunt, metus felis suscipit felis, ac finibus massa tellus id lacus. Nulla quis tempus dui, ac vulputate nunc. Suspendisse nec cursus tortor, id accumsan justo. Nulla in suscipit arcu.</p>

                    <p>Donec dolor mauris, accumsan ornare ligula vel, lobortis semper lorem. Proin scelerisque vehicula ipsum, at pharetra sem mollis sit amet. Praesent purus dolor, cursus ac euismod a, molestie ac ex. Ut placerat elit tellus, sit amet ullamcorper erat eleifend et. Nam eleifend non diam sed mollis. Proin condimentum tempus tincidunt. Vestibulum eget est ac est imperdiet vehicula. Nunc efficitur auctor tempor. Etiam placerat mi ac sollicitudin aliquet.</p>

                    <p>Nam et suscipit metus. Nulla facilisi. Ut purus ante, ullamcorper eu mi dictum, rutrum vulputate dolor. Maecenas elit risus, faucibus tincidunt est sit amet, dictum tempus velit. Aliquam commodo nisi mi, vulputate sodales metus imperdiet nec. Donec lacus mauris, feugiat ac tellus vitae, lacinia posuere felis. Fusce sed nulla sit amet eros fringilla suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut ultrices urna velit.</p>

                    <p>Sed nisi justo, pellentesque eu metus vestibulum, sollicitudin congue mi. Quisque molestie ultricies orci, non pulvinar nulla dapibus et. Nulla sagittis posuere ante, pellentesque lobortis dui. Duis fringilla tortor non varius volutpat. Sed eget odio sit amet ante egestas condimentum et ac ante. Suspendisse consectetur nisi leo, ac sodales urna consequat eget. Duis laoreet eleifend dolor sed egestas. Maecenas sit amet diam eget enim vestibulum porta. Vestibulum malesuada tristique volutpat. Cras aliquam turpis a dolor dictum dapibus non sed mi. Nulla consectetur odio ac mi rutrum, ac consectetur nisi tristique. Morbi pulvinar tellus laoreet dictum malesuada.</p>
                </div>

            </div>

            <ul class="pager">
                <li><a href="#">&larr; Older</a></li>
                <li><a href="#">Newer &rarr;</a></li>
            </ul>

        </div>

        <div class="col-md-3">

            <div class="archive">
                <h1 class="archive-title text-center">{% trans %}Archivo{% endtrans %}</h1>
                <ul class="archive-content">
                    <li>Enero 2012</li>
                    <li>Enero 2012</li>
                    <li>Enero 2012</li>
                    <li>Enero 2012</li>
                    <li>Enero 2012</li>
                </ul>

            </div>

        </div>
    </div>
{% endblock %}
